{% extends "base.html" %}

{% block body %}

<!--  PAGE 1: Denied -->
<div id="blog" data-role="page" data-theme="a">
<div data-role="header" data-position="fixed" data-id="vs_header">
<h1>Sorry</h1>
<a href="/" data-icon="home" class="ui-btn-right">Home</a>
</div><!-- end header -->

<div data-role="content" style="text-align:center;">

<img style="width: 90%;" src="/img/denied.jpg"><br/><hr>
You do not have access to this content.
</div><!-- end content -->

<div data-role="footer" data-position="fixed" data-id="vs_footer">
<div data-role="navbar">
<ul>
<li><a href="/" data-icon="arrow-r">Home</a></li>
</ul>
</div><!-- end navbar -->
</div><!-- end footer -->
</div><!-- end page -->


{% endblock %}

    	
    	